
#u7972 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:4372px;
  width:55px;
  height:11px;
  display:flex;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:underline ;
  color:#169BD5;
}
#u7972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:underline ;
  color:#169BD5;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:4372px;
  width:87px;
  height:11px;
  display:flex;
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:underline ;
  color:#169BD5;
}
#u7974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:516px;
  background:inherit;
  background-color:rgba(206, 206, 206, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:4017px;
  width:208px;
  height:516px;
  display:flex;
}
#u7975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:282px;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:4017px;
  width:208px;
  height:282px;
  display:flex;
}
#u7976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
